YOUTUBE_STREAM_URL=rtmp://a.rtmp.youtube.com/live2
YOUTUBE_STREAM_KEY=inserisci_qui_la_tua_stream_key_di_youtube
YOUTUBE_CHANNEL_ID=yt_idchannel
YOUTUBE_HANDLE=yt_handle_con_chiocciola

NEWSICA_SHOW_MUSIC_PILL=1
NEWSICA_SHOW_ON_AIR_PANEL=1
NEWSICA_SHOW_CLOCK_PANEL=1
NEWSICA_SHOW_SCHEDULE_TIMELINE=1
NEWSICA_SHOW_TICKER=1
NEWSICA_ENABLE_COLOR_TICKER=1